<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<base href="../" />
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
		<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<title></title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					 aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">学习资源管理平台</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/index">首页</a></li>
						<li class="active"><a href="#">精品<span class="sr-only">(current)</span></a></li>
						<li><a href="#">友情链接</a></li>
						<li><a href="#">教师排名</a></li>

					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="你想查询的内容">
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a id="loginbtn" href="/login">登录/注册</a></li>

					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<!-- 导航上部 -->
		<div class="main">
			<div class="main-left">
				<div id="main-left-content" style="margin-top: 0px;">
					<div id="main-left-content-first" class="main-left-content-item">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-3">
									<img src="./img/resource1.png">
								</div>
								<div class="col-xs-12 col-sm-12 col-md-9">
									<h4>基于Springboot的CURD操作<span>评价：5.0</span></h4>
									<p>基于Springboot的CURD操作基于Springboot的CURD操作基于Springboot的CURD操作基于Springboot的CURD操作基于Springboot的CURD操作</p>
								</div>
							</div>
						</div>
					</div>

					<div id="main-left-content-first" class="main-left-content-item">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-3">
									<img src="./img/resource1.png">
								</div>
								<div class="col-xs-12 col-sm-12 col-md-9">
									<h4>基于Springboot的CURD操作<span>评价：5.0</span></h4>
									<p>基于Springboot的CURD操作基于Springboot的CURD操作基于Springboot的CURD操作基于Springboot的CURD操作基于Springboot的CURD操作</p>
								</div>
							</div>
						</div>
					</div>
					<div id="main-left-content-second" class="main-left-content-item">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-3">
									<img src="./img/resource1.png">
								</div>
								<div class="col-xs-12 col-sm-12 col-md-9">
									<h4>基于Springboot的CURD操作<span>评价：5.0</span></h4>
									<p>基于Springboot的CURD操作基于Springboot的CURD操作基于Springboot的CURD操作基于Springboot的CURD操作基于Springboot的CURD操作</p>
								</div>
							</div>
						</div>
					</div>
					<div id="main-left-content-third" class="main-left-content-item">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-3">
									<img src="./img/resource1.png">
								</div>
								<div class="col-xs-12 col-sm-12 col-md-9">
									<h4>基于Springboot的CURD操作<span>评价：5.0</span></h4>
									<p>基于Springboot的CURD操作基于Springboot的CURD操作基于Springboot的CURD操作基于Springboot的CURD操作基于Springboot的CURD操作</p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			<div class="main-right">
				<div>
					<img src="img/add1.png"></img>
					<img src="img/add1.png"></img>
					<img src="img/add1.png"></img>
				</div>
				<div class="tagContent">
					<div class="tagTitle">
						<span>热点标签</span>
					</div>
					<div class="tags">
						<span class="tag">齐军洁</span>
						<span class="tag">微信支付</span>
						<span class="tag">支付宝支付</span>
						<span class="tag">简爱</span>
						<span class="tag">python</span>
						<span class="tag">java</span>
						<span class="tag">vuejs</span>
					</div>
				</div>

			</div>
		</div>
		<!-- 底部 -->
		<footer>
			<div id="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-4">
							<div id="footer-left">
								<P>客服QQ:2075114043</P>
								<P>客服微信:xiaoai52118888</P>
								<P>广告联系:503184054@qq.com</P>
							</div>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-4">
							<div id="footer-center">
								<img src="./img/weixin.png" />
							</div>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-4">
							<div id="footer-right">

								<p><a>《用户协议》</a></p>
								<p><a>《资源共享协议》</a></p>
								<p><a>《关于我们》</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer-end">
				<p>蜀ICP备2020026701号</p>
			</div>
		</footer>
	</body>
</html>
